<?php
$password = "<password>";
$servername = "<localhost>";
$username = "<username>";
$dbname = "<dbname>";
$email_password = "<email_password>";
$email = "<email>";
$receiver_email = "<receiver_email>";
$receiver_name = "Boss";
$passkey = "39383ge827-|-\_]-]~]~]-*33";
?>